version: "3.8"

services:
  server:
    build: ./server
    ports:
      - "80:80"
    environment:
      - NODE_ENV=production
      - PORT=80
      - JWT_SECRET=${JWT_SECRET}
      - CLOUDINARY_URL=${CLOUDINARY_URL}
      - DATABASE_URL=${DATABASE_URL}
    volumes:
      - ./server:/app
      - /app/node_modules
